.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 70vh;
}

.homeSubContainer {
    padding: 50px 150px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.homeTitle {
    font-size: 35px;
    color: var(--textColor);
    font-weight: 500;
}

.homeSubTitle {
    font-size: 25px;
    color: var(--textColor);
    margin-top: 15px;
}