* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Container {
  width: 100%;
}

:root {
  --bgColor: grey;
  --textColor: white;
  --ratingColor: green;
  --bgSecondary: #6a696d;
  --lightBg: #D3D3D3;
  --lightBg2: #f2f2f2
}